.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.message {
    width: 50%;
    color: rgb(235, 235, 235);
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.albumContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.albumImg {
    border: 2px solid rgb(65, 65, 65);
    box-shadow: 5px 5px 15px 0px rgb(31, 31, 31);
    width: 22.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message .albumName {
    font-size: 4rem;
    margin: 0 auto;
    color: #6d4508;
    letter-spacing: 4px;
}

.message h1 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.listen {
    text-decoration: none;
    color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
    box-shadow: 2px 2px 2px 0px grey;
    border-radius: 2px;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.listen:hover {
    color: grey;
    border: 2px solid grey;
    box-shadow: 1px 1px grey;
}

.listen:active {
    box-shadow: 0 0 rgba(236, 236, 236, 0.58);
    top: 2px;
}

@media (max-width: 920px) {
    .home {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .albumImg {
        width: 17.5rem;
        margin-top: 2rem;
    }

    .message {
        height: 40%;
        width: 100%;
    }

    .message .albumName {
        font-size: 3rem;
    }

    .listen {
        width: 5rem;
        height: 2rem;
        font-size: 0.75rem;
    }

    .albumContainer {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .albumImg {
        width: 12.5rem;
    }
}
