@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

@font-face {
    font-family: AA_typewriter;
    src: url('../public/fonts/AA_typewriter.ttf');
}

body {
    background-image: url('../public/background.jpg');
    background-size: cover;
    background-color: black;
    margin: 0;
    font-family: AA_typewriter;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3 {
    color: rgb(235, 235, 235);
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    color: rgb(235, 235, 235);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    transition-property: background;
    transition: 0.3s ease-in-out;
    background: rgba(90, 90, 90, 0.842);
}

.popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    background-image: url('../public/background.jpg');
    background-size: cover;
    border: 3px solid black;
    border-radius: 0.5rem;
    box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.58);
    z-index: 3;
    margin: auto;
    transform: translate(-50%, -50%);
}

.rightArrow,
.leftArrow,
.closeIcon {
    position: absolute;
    top: 48%;
    right: 1%;
    width: 2rem;
    z-index: 10;
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}

.leftArrow {
    left: 1%;
}

.closeIcon {
    top: 2%;
    width: 1rem;
}

.leftArrow:hover,
.rightArrow:hover,
.closeIcon:hover {
    filter: brightness(0.4);
}

.loading {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 5rem;
}

@media (max-width: 920px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .closeIcon {
        top: 0.5%;
        width: 0.75rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.75rem;
    }

    h2 {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
    p {
        font-size: 0.2rem;
    }
}
